requests
feedparser
tqdm
flask
flask-cors
PyPDF2
pdfminer.six
pymupdf
beautifulsoup4
sentence-transformers
transformers
datasets
faiss-cpu
scikit-learn
numpy
pandas
langgraph
langchain
fastapi
uvicorn
pint
label-studio-sdk
huggingface_hub
python-dotenv
